/* GENERAL */

.hidden {
    display: none !important;
}

body {
    background-color: #f8ffd0;
    color: black;
    font-family: Arial;
    user-select: none;
    max-height: 100dvh;
    overflow: hidden; /* deletes anything that goes outside of screen */
    padding:0px;
    margin: 0px;
}

/* MENU*/ 

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    max-height: 100dvh;
}

#menu button {
    font-size: 200%;
    border-radius: 10px;
    min-width: 25%;
    transition-duration: 0.2s;
    cursor: pointer;
}

#menu button:hover {
    background-color: #f9cb9c;
    min-width: 30%;
}

#menu h1 {
    margin: 0;
    font-size: 400%;
}

#menu img {
    max-width: 50%;
    max-height: 50%;
}

/* TUTORIAL */

#tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 2%
}

#tutorial button {
    font-size: 150%;
    border-radius: 10px;
    min-width: 25%;
    transition-duration: 0.2s;
    cursor: pointer;
}


#tutorial button:hover {
    background-color:#f9cb9c;
    min-width: 25%;
}

#tutorial h1 {
    font-size: 400%;
    margin: 0;
}

#tutorial p {
    font-size: 150%;
    text-align: center;
    margin: 0;
    width: 50%
}

#tutorial img {
    max-height: 30%;
}

/* GAMEPLAY SCREEN */

#gameplay-screen {
    max-height: 100dvh;
}
#Main-Globe {
    display:flex;
    justify-content:center;
}

#HUD-menu {
    display: flex;
    width: 100%;
    min-height: 10vh;
    justify-content: center;
    align-items: flex-end; /* align items by their bottom edges */
    gap: 10rem;
    margin-top: 1em;
}

#country-button {
    height: 5dvh;
}
#country-input {
    height: 5dvh;
    font-size: 150%;
}

#time-track, #score-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;

}

#score, #timer {
    font-size: 200%;
    font-weight: bold;
}

#time-track p, #score-track p {
    margin: 0.2rem 0; /* top margin is set to 0.2, right set to 0. imagine trace rectangle syntax */
    line-height: 1.1; 
}


#guessed-countries { /* guessed countries pop-up*/
    position: fixed;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    width:fit-content;
    height:fit-content;
    background-color: #f8ffd0;
    padding-left: 1em;
    padding-right: 1em;
}

#game-popup {
    position: fixed;
    top: 50%;
    left:15%;
    transform:translate(-50%,-50%);
    width:fit-content;
    max-width: 15em;
    height:fit-content;
    background-color:#93c47d;
    text-align:center;
}



/* Level Complete Pop-up */

#level-complete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: fit-content;
    background-color: #d9ead3;
    border: 0.07em solid black;
    border-radius: 1em;
    padding: 1em;
}


#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#popup p {
    text-align: center;
    margin: 0.5em;
    font-size: 150%;
    max-width: 25rem;
}

#popup strong {
    font-size: 180%;
}

#popup button {
    margin-top: 0.5em;
    font-size: 120%;
    width: 75%;
    padding: 0.5rem;
    border-radius: 5px;
    transition-duration: 0.2s;
    border: black, solid, 0.05em; 
    cursor: pointer;

}

#popup button:hover {
    background-color: #f9cb9c;
    border: black, solid, 0.05em;
    width: 75%;
}

#popup-stats p {
    margin: 0.1rem;
    font-weight: 700;
}

/* End Screen */

#end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    justify-content: center;
}

#end-screen h1 {
    font-size: 400%;
    margin: 0;
}

#end-screen p {
    font-size: 150%;
}

#end-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}
#end-screen button {
    font-size: 120%;
    padding: 5%;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: black, solid, 0.06em;
    transition-duration: 0.2s;
    cursor: pointer;
}

#end-screen button:hover {
    background-color:#f9cb9c;
    width: 110%;
}

#final-stats {
    font-size: 80%;
}